docs/flowscope-ai-workflow.example.json
{
  "name": "FlowScopeAI Example",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        304,
        -240
      ],
      "id": "7efb7192-c4ed-4c46-800b-993a91af49a0",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "950fca4e-8536-4ce3-986d-ed459a17daa7",
              "leftValue": "={{ $('Prepare Message Data').item.json.message_text }}",
              "rightValue": "/start landing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "61347918-b320-4740-93c1-c0d9da576832",
              "leftValue": "={{ $('Prepare Message Data').item.json.message_text }}",
              "rightValue": "=/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "01207ac0-5210-44b7-a1c1-787e5d81ee59",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Вітаю! Почнемо аналіз задачі.  Опишіть вашу бізнес-проблему простими словами: що саме забирає час, де багато ручної роботи або що хочете автоматизувати?  Наприклад: “У нас немає HR, приходить багато резюме, вручну переглядати довго.”",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        -144
      ],
      "id": "0b147c5c-6ae5-4d49-9ee7-3183a66c74ee",
      "name": "if start",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "BotMessages",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp ": "={{$now}}",
            "user_id": "={{ $json.user_id }}",
            "username ": "={{ $json.username }}",
            "first_name": "={{ $json.first_name }}",
            "message_text": "={{ $json.message_text }}",
            "step ": "={{ $json.step }}",
            "status": "={{ $json.status }}",
            "source": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp ",
              "displayName": "timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username ",
              "displayName": "username ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step ",
              "displayName": "step ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "1d6c3c4e-063e-4518-9167-9ab6a1ba31f3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message || {};\nconst from = message.from || {};\nconst text = message.text || \"\";\n\nconst step = text.startsWith(\"/start\") ? \"start\" : \"problem_input\";\nconst source = text.includes(\"landing\") ? \"landing\" : \"telegram/direct\";\n\nreturn [\n  {\n    json: {\n      timestamp: new Date().toISOString(),\n      user_id: from.id || \"\",\n      username: from.username || \"\",\n      first_name: from.first_name || \"\",\n      message_text: text,\n      step,\n      source,\n      status: \"received\",\n      notes: \"\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -240
      ],
      "id": "d27c4327-29e8-4e4b-99ee-8cd5f49ebc4d",
      "name": "Prepare Message Data"
    },
    {
      "parameters": {
        "chatId": "YOUR_ADMIN_CHAT_ID",
        "text": "=🔔 Новий старт у FlowScope AI  \nКористувач: {{ $('Prepare Message Data').item.json.first_name }} \nUsername: {{ $('Prepare Message Data').item.json.username }}\nUser ID:  {{ $('Prepare Message Data').item.json.user_id }} \nПовідомлення: {{ $('Prepare Message Data').item.json.message_text }}  \nДжерело: {{ $('Prepare Message Data').item.json.source }} \nЧас: {{ $('Prepare Message Data').item.json.timestamp }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -144
      ],
      "id": "07214fe2-4734-4238-bd93-80817b2bd8e0",
      "name": "Notify Admin",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Prepare Message Data').item.json.user_id }}",
            "username ": "={{ $('Prepare Message Data').item.json.username }}",
            "first_name": "={{ $('Prepare Message Data').item.json.first_name }}",
            "current_step ": "problem_input",
            "source  ": "={{ $('Prepare Message Data').item.json.source }}",
            "updated_at": "={{ $('Prepare Message Data').item.json.timestamp }}",
            "status": "active"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username ",
              "displayName": "username ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_step ",
              "displayName": "current_step ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source  ",
              "displayName": "source  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_problem  ",
              "displayName": "business_problem  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criteria ",
              "displayName": "criteria ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_text",
              "displayName": "vacancy_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -64
      ],
      "id": "afc02c0c-95c2-4f4c-85db-5df3cb0985e7",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $('Prepare Message Data').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        112
      ],
      "id": "208c302b-dfde-451e-8bd6-9b7552f9eb83",
      "name": "Lookup UserState",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a79736a7-e422-46d6-ae58-0c86412196b0",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        112
      ],
      "id": "bd4464b0-ce88-4f67-a7eb-530e1b46df1f",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Message Data').item.json.user_id }}",
        "text": "Будь ласка, спочатку натисніть /start, щоб я міг почати сценарій.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        384
      ],
      "id": "a56187cd-a2a2-4508-8480-06764a972c87",
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Lookup UserState').item.json['current_step '] }}",
                    "rightValue": "problem_input",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "668dc6ae-9385-42a3-9e24-7532f759e1e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "problem_input"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a216851-025a-488a-8839-361393c28372",
                    "leftValue": "={{ $('Lookup UserState').item.json['current_step '] }}",
                    "rightValue": "criteria_input",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "criteria_input"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1d10f539-e829-4287-8bce-d189419bf4cb",
                    "leftValue": "={{ $('Lookup UserState').item.json['current_step '] }}",
                    "rightValue": "vacancy_input",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vacancy_input"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1264,
        112
      ],
      "id": "033a2b5c-2800-433b-85e3-7443ea87a7da",
      "name": "Switch Current Step"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "business_problem  ": "={{ $('Prepare Message Data').item.json.message_text }}",
            "current_step ": "criteria_input",
            "row_number": "={{ $('Lookup UserState').item.json.row_number }}",
            "updated_at": "={{ $json.updated_at }}",
            "status": "active"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username ",
              "displayName": "username ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_step ",
              "displayName": "current_step ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source  ",
              "displayName": "source  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_problem  ",
              "displayName": "business_problem  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "criteria ",
              "displayName": "criteria ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_text",
              "displayName": "vacancy_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        -32
      ],
      "id": "433bca1e-2a12-46b0-a0c4-b4daae752279",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Message Data').item.json.user_id }}",
        "text": "Дякую, я отримав опис задачі.  Для першого реалізованого сценарію ми переходимо до HR / recruitment.  Уточніть, будь ласка, 3–5 ключових критеріїв відбору кандидата.  Наприклад: досвід продажів, CRM, комунікація з клієнтами, відповідальність.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        -32
      ],
      "id": "1220ae69-95dc-418e-bb12-a751213abb3f",
      "name": "Ask Criteria",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Lookup UserState').item.json.row_number }}",
            "criteria ": "={{ $('Prepare Message Data').item.json.message_text }}",
            "current_step ": "vacancy_input",
            "updated_at": "={{ new Date().toISOString() }}",
            "status": "active"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username ",
              "displayName": "username ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_step ",
              "displayName": "current_step ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source  ",
              "displayName": "source  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_problem  ",
              "displayName": "business_problem  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criteria ",
              "displayName": "criteria ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_text",
              "displayName": "vacancy_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        128
      ],
      "id": "edd64143-86ea-4ae5-a870-17945b384963",
      "name": "Update UserState Criteria",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Lookup UserState').item.json.row_number }}",
            "vacancy_text": "={{ $('Prepare Message Data').item.json.message_text }}",
            "current_step ": "analysis_ready",
            "updated_at": "={{ new Date().toISOString() }}",
            "status": "active"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username ",
              "displayName": "username ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_step ",
              "displayName": "current_step ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source  ",
              "displayName": "source  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_problem  ",
              "displayName": "business_problem  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criteria ",
              "displayName": "criteria ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_text",
              "displayName": "vacancy_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        336
      ],
      "id": "a9650b1e-08c2-4215-8f09-e2ed272776c3",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Message Data').item.json.user_id }}",
        "text": "Критерії зафіксовані.  Тепер надішліть опис вакансії або основні вимоги до кандидата.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        128
      ],
      "id": "ebb97399-5bd7-446c-acef-46db561c2c1e",
      "name": "Update UserState Criteria1",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Опис вакансії отримано.  Для MVP-аналізу я використаю підготовлений набір резюме з бази.  Запускаю AI-аналіз кандидатів за вашими критеріями.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        336
      ],
      "id": "5f6d95ac-5425-43b0-9747-2535390d24eb",
      "name": "Start AI Analysis Message",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $('Prepare Message Data').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        336
      ],
      "id": "e7e63bfe-87b7-42e2-ab35-29d288786dab",
      "name": "Read UserState For AI",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const candidates = $input.all().map(item => item.json);\n\nconst rawUserState = $('Read UserState For AI').first().json;\n\n// Функція безпечно дістає поле навіть якщо в назві колонки є зайві пробіли\nfunction getField(obj, fieldName) {\n  const exactValue = obj[fieldName];\n\n  if (exactValue !== undefined && exactValue !== null && exactValue !== '') {\n    return exactValue;\n  }\n\n  const foundKey = Object.keys(obj).find(key => key.trim() === fieldName);\n\n  if (foundKey) {\n    return obj[foundKey];\n  }\n\n  return '';\n}\n\nconst businessProblem = getField(rawUserState, 'business_problem');\nconst criteria = getField(rawUserState, 'criteria');\nconst vacancyText = getField(rawUserState, 'vacancy_text');\n\nconst candidateCards = candidates.map(c => {\n  return `\nCandidate ID: ${c.candidate_id}\nFull name: ${c.full_name}\nExperience level: ${c.experience_level}\nTier: ${c.tier}\nShort summary: ${c.short_summary}\nKey skills: ${c.key_skills}\nMatch notes: ${c.match_notes}\nRisk notes: ${c.risk_notes}\nStatus: ${c.status}\n`;\n}).join('\\n---\\n');\n\nconst prompt = `\nYou are an AI recruitment assistant for an MVP called FlowScope AI.\n\nYour task is to analyze prepared candidate cards against the user's hiring request.\n\nImportant context:\n- The user does not upload CVs in Telegram.\n- CVs were already received and pre-processed.\n- You are working with structured candidate cards from the Candidates database.\n- Be practical, concise, and explain your reasoning clearly.\n\nImportant evaluation rules:\n- Do not force a shortlist if candidates do not match the vacancy.\n- If the candidate database does not contain suitable candidates for the vacancy, say so clearly.\n- Match candidates primarily against the user's vacancy description and criteria, not against their original pre-assigned tier.\n- A high technical tier does not automatically mean a good match for a non-technical vacancy.\n- If a candidate profile is irrelevant to the vacancy, mark decision as reject even if the candidate is generally strong.\n- If the vacancy requires sales, customer communication, CRM, or account management experience, do not treat technical Python/backend experience as a substitute for sales experience.\n- Only mark candidate as invite if the candidate card explicitly contains relevant sales, customer-facing, CRM, or client communication experience.\n- If no candidate clearly matches, say that there is no strong match in the current database.\n\nUser business problem:\n${businessProblem}\n\nUser selection criteria:\n${criteria}\n\nVacancy description:\n${vacancyText}\n\nCandidate cards:\n${candidateCards}\n\nAnalyze all candidates and return the result in Ukrainian.\n\nOutput format:\n\n1. Shortlist:\n- candidate_id\n- full_name\n- score from 0 to 100\n- decision: invite / maybe / reject\n- short reason\n\n2. Best candidates:\nExplain who should be invited first and why.\n\n3. Rejected candidates:\nExplain who should not be considered for this vacancy and why.\n\n4. Risks:\nMention important risks such as overqualification, missing must-have skills, weak experience, irrelevant profile, or incomplete contact data.\n\n5. Screening questions:\nGive 3 screening questions for the strongest candidate.\n`;\n\nreturn [\n  {\n    json: {\n      user_id: getField(rawUserState, 'user_id'),\n      chat_id: $('Prepare Message Data').first().json.chat_id || $('Prepare Message Data').first().json.user_id,\n      business_problem: businessProblem,\n      criteria: criteria,\n      vacancy_text: vacancyText,\n      candidates_count: candidates.length,\n      prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        336
      ],
      "id": "e08f969e-d7c4-49a3-a6f8-3deff3ee56c6",
      "name": "Prepare AI Prompt"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 1197579301,
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        336
      ],
      "id": "a9262a2e-1fde-4029-89e1-28f095d44590",
      "name": "Read Candidates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract AI Result').first().json.chat_id }}",
        "text": "={{ \n  \"✅ AI-аналіз кандидатів готовий:\\n\\n\" +\n  \"📄 Переглянуто резюме: \" + $('Prepare AI Prompt').first().json.candidates_count + \"\\n\\n\" +\n  $('Extract AI Result').first().json.ai_result\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3088,
        608
      ],
      "id": "fd1c2a87-c583-4981-8299-a0ad11228414",
      "name": "Send Result to User",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            },
            {
              "role": "system",
              "content": "You are a concise AI recruitment assistant. Return clear structured output in Ukrainian."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2624,
        336
      ],
      "id": "17bf555b-73c5-438f-8ce4-6f8cff7ef8ac",
      "name": "OpenAI Analyze Candidates",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet aiResult = '';\n\n// Варіант 1: якщо OpenAI повернув масив message-об'єктів\nif (Array.isArray(data) && data[0]?.content?.[0]?.text) {\n  aiResult = data[0].content[0].text;\n\n// Варіант 2: якщо відповідь лежить у полі output як масив\n} else if (Array.isArray(data.output) && data.output[0]?.content?.[0]?.text) {\n  aiResult = data.output[0].content[0].text;\n\n// Варіант 3: якщо відповідь лежить у content[0].text\n} else if (data.content?.[0]?.text) {\n  aiResult = data.content[0].text;\n\n// Варіант 4: якщо відповідь лежить у message.content\n} else if (data.message?.content) {\n  aiResult = data.message.content;\n\n// Варіант 5: якщо відповідь лежить у text\n} else if (data.text) {\n  aiResult = data.text;\n\n// Варіант 6: класичний choices\n} else if (data.choices?.[0]?.message?.content) {\n  aiResult = data.choices[0].message.content;\n\n// fallback\n} else {\n  aiResult = JSON.stringify(data, null, 2);\n}\n\nreturn [\n  {\n    json: {\n      user_id: $('Prepare AI Prompt').first().json.user_id,\n      chat_id: $('Prepare AI Prompt').first().json.chat_id,\n      username: $('Read UserState For AI').first().json.username,\n      business_problem: $('Prepare AI Prompt').first().json.business_problem,\n      criteria: $('Prepare AI Prompt').first().json.criteria,\n      vacancy_text: $('Prepare AI Prompt').first().json.vacancy_text,\n      candidates_count: $('Prepare AI Prompt').first().json.candidates_count,\n      ai_result: aiResult,\n      status: 'completed',\n      notes: 'MVP analysis completed',\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        352
      ],
      "id": "a628710d-0878-43c9-92ef-2ad8f36c133d",
      "name": "Extract AI Result"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 1614315538,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "user_id": "=={{ $json.user_id }}",
            "username": "={{ $('Start AI Analysis Message').item.json.result.chat.username }}",
            "business_problem ": "={{ $json.business_problem }}",
            "criteria": "={{ $json.criteria }}",
            "vacancy_text": "={{ $json.vacancy_text }}",
            "candidates_count": "=={{ $json.candidates_count }}",
            "ai_result": "={{ $json.ai_result }}",
            "status": "={{ $json.status }}",
            "notes": "={{ $json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_problem ",
              "displayName": "business_problem ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criteria",
              "displayName": "criteria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_text",
              "displayName": "vacancy_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "candidates_count",
              "displayName": "candidates_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_result",
              "displayName": "ai_result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3104,
        352
      ],
      "id": "b8fe4353-da75-4f53-ab48-a631e6877361",
      "name": "Save Result",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Lookup UserState').item.json.row_number }}",
            "current_step ": "completed",
            "status": "completed",
            "updated_at": "={{ new Date().toISOString() }}",
            "notes": "MVP analysis completed"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username ",
              "displayName": "username ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_step ",
              "displayName": "current_step ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source  ",
              "displayName": "source  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_problem  ",
              "displayName": "business_problem  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criteria ",
              "displayName": "criteria ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_text",
              "displayName": "vacancy_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2832,
        608
      ],
      "id": "286c542a-3e59-4676-bfd1-b007e233eacb",
      "name": "Update UserState Completed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $('Prepare Message Data').first().json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -96
      ],
      "id": "3cf1bd8d-1211-4964-a5f9-3a3bd4f2517e",
      "name": "Lookup UserState Start",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d91fa95e-0e85-4449-806c-cb11da9b8bc2",
              "leftValue": "={{ $json.row_number ? 'found' : '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -96
      ],
      "id": "423d28e1-7cce-40d3-866d-3b1eb6f057fa",
      "name": "IF UserState Exists Start"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI_Discovery_Assistant_MVP_Data",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": 866510639,
          "mode": "list",
          "cachedResultName": "UserState",
          "cachedResultUrl": "YOUR_GOOGLE_SHEET_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Lookup UserState Start').first().json.row_number }}",
            "user_id": "={{ $('Prepare Message Data').item.json.user_id }}",
            "username ": "={{ $('Prepare Message Data').item.json.username }}",
            "first_name": "={{ $('Prepare Message Data').item.json.first_name }}",
            "current_step ": "problem_input",
            "source  ": "={{ $('Prepare Message Data').item.json.source }}",
            "business_problem  ": "={{ \"\" }}",
            "vacancy_text": "={{ \"\" }}",
            "criteria ": "={{ \"\" }}",
            "status": "active",
            "notes": "new session started",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username ",
              "displayName": "username ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_step ",
              "displayName": "current_step ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source  ",
              "displayName": "source  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_problem  ",
              "displayName": "business_problem  ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "criteria ",
              "displayName": "criteria ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_text",
              "displayName": "vacancy_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        -192
      ],
      "id": "79edf468-1ae6-476f-bf84-a0f391debb69",
      "name": "Reset UserState",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Prepare Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Lookup UserState Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup UserState",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message Data": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if start": {
      "main": [
        [
          {
            "node": "Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "if start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup UserState": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch Current Step",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Current Step": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update UserState Criteria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Ask Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update UserState Criteria": {
      "main": [
        [
          {
            "node": "Update UserState Criteria1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Start AI Analysis Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start AI Analysis Message": {
      "main": [
        [
          {
            "node": "Read UserState For AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read UserState For AI": {
      "main": [
        [
          {
            "node": "Read Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Candidates": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Analyze Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analyze Candidates": {
      "main": [
        [
          {
            "node": "Extract AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Result": {
      "main": [
        [
          {
            "node": "Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Result": {
      "main": [
        [
          {
            "node": "Update UserState Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update UserState Completed": {
      "main": [
        [
          {
            "node": "Send Result to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup UserState Start": {
      "main": [
        [
          {
            "node": "IF UserState Exists Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF UserState Exists Start": {
      "main": [
        [
          {
            "node": "Reset UserState",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset UserState": {
      "main": [
        [
          {
            "node": "if start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}